In [123]:
import numpy as np
import pandas as pd
now = np.datetime64("now")

In [135]:
def calculate_time(now):
#     return now, time studied
    time_studied = (np.datetime64("now") - now).astype("timedelta64[s]")
    print(time_studied)
    return np.datetime64("now"), time_studied

In [143]:
now, time_studied = calculate_time(now)

139 seconds

In [155]:
np.timedelta64(0)

numpy.timedelta64(0)

In [154]:
today = np.datetime_as_string(np.datetime64("today"))
data = {"Date":today, "Time Spent Studying":(now - now).astype("timedelta64[s]")}
df = pd.DataFrame(data=data, index=[None])
df

           Date Time Spent Studying
NaN  2020-08-31              0 days

In [151]:
df = pd.read_csv("time_studying.csv", index_col=None)
df

         Date        Time Spent Studying
0  2020-08-31  0 days 00:00:00.000000000

In [122]:
if df.iloc[-1, df.columns.get_loc('Date')] == np.datetime_as_string(np.datetime64("today")):
    df.iloc[-1, df.columns.get_loc('Date')] +=

True

'2020-08-31'

In [150]:
df.to_csv("time_studying.csv",index=False)